@model TmsWebApp.Models.ForgotPasswordViewModel
@{ 
    Layout = null;
}
@using TranningWebApp.Resource
@{
    string lan = "en";
    string dir = "ltr";
    if (Request.Cookies["lan"] != null && Request.Cookies["lan"].Value == "ar")
    {
        lan = "ar";
        dir = "rtl"; 
    }
}
<!DOCTYPE html> 
<html lang="@lan" dir="@dir">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BFN</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/simple-line-icons.css" rel="stylesheet">

    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/cust-style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">

            <!-- <div class="col-md-12 text-center">
                <img src="img/injaz.png" class="logo">
            </div> -->
            <div class="col-md-5">
                <div class="card-group">
                    <div class="card mt-3 mb-3">
                        <div class="card-block">
                            <h3>@General.UpdatePassword</h3>
                            <p class="text-muted">@General.forgotentermsg.</p>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group mb-4">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = General.Email })

                                </div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                if (ViewBag.message != null)
                                {
                                    if (ViewBag.notfounderror != null)
                                    {
                                    <label style="color:red">
                                        @ViewBag.message</label>
                                    }
                                    else
                                    {
                                    <label>@ViewBag.message <a href="@Url.Action("Login")">@General.Cickheretologin</a> </label>
                                    }
                                }
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4">@General.SendEmail</button>
                                        </div>

                                    </div>
                                    }
</div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
