@using TranningWebApp.Resource
@model PagedList.IPagedList<TranningWebApp.Repository.DataAccess.user>
@using TranningWebApp.Common
@{
    ViewBag.Title = "Layout";
    var cu = Session["user"] as ContextUser;
}
} 
 
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@General.Account</li>
        <li class="breadcrumb-item">@General.Users</li> 
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="@Url.Action("EditUser")"><i class="icon-plus"></i> @General.AddUser</a>
            </div>
        </li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="input-group global-search">
                    <input type="text" name="global-search" class="form-control" id="search"placeholder="@General.Search" value="@ViewBag.searchQuery">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <table class="table table-hover table-outline mb-0">
                    <thead class="thead-default">
                    <tr>
                        <th class="text-center">
                            <i class="icon-people"></i>
                        </th>
                        <th>@General.FirstName <i class="fa fa-sort"></i></th>
                        <th>@General.Username</th>
                        <th>@General.Email</th>
                        <th>@General.Role</th> 
                        <th>@Coordinator.Status <i class="fa fa-sort-down"></i></th>
                        <th>@General.EditDetails</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model.ToList())
                        {
                        <tr>
                            <td class="text-center">
                                <div class="avatar">
                                    <img src="~/img/avatars/1.png" class="img-avatar">
                                </div>
                            </td>
                            <td>
                                <div>@item.FirstName</div>
                                
                            </td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>@item.lk_role.FrindlyName</td>
                                
                            @if (item.IsLocked == false)
                            {
                                <td><span class="badge badge-success">@General.Active</span></td>
                            }
                            else
                            {
                                <td><span class="badge badge-default">@General.InActive</span></td>

                            }

                            <td><a href="@Url.Action("EditUser", new { id = item.RowGuid })" title="Edit"><i class="fa fa-pencil"></i></a>
                            @if (cu.OUser.Id != item.Id)
                            {
                             <a href="#" onclick="onArchiveClick('@Model.PageNumber','@item.RowGuid')" title="Archive"><i class="fa fa-archive"></i></a>
                            }
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                    <tr>
                        <td colspan = "7" align = "center" > @General.Norecordfound</td>
                     </tr>
                    }

                    </tbody>
                </table>
                @Html.Partial("_Pagination",new TmsWebApp.Models.PageViewModel { CurrentPage = Model.PageNumber, TotalRecords = (int)ViewBag.Count })
            </div>
        </div>
    </div>
</main>
