@model  TranningWebApp.Repository.DataAccess.session
@using TranningWebApp.Resource
@{
    ViewBag.Title = "StudentAttendense";
    DateTime startDay = Model.ActualDateTime.Value;

}
<script type="text/javascript">

    function checkAllClick() {
        debugger;
        if (document.getElementById('checkall').checked) {
            $('input[type="checkbox"').prop('checked', true);
        } else {
            $('input[type="checkbox"').prop('checked', false);
        }
    }

</script>

<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@General.Home</li>
        <li class="breadcrumb-item active">@Participant.ParticipantLabel</li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            @using (Html.BeginForm("StudentAttendense", "Session", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken();
                <div class="card">
                    <div class="card">
                        <div class="card-header">


                            <input type="checkbox" id="checkall" onchange="checkAllClick()" />  <strong class="text-primary">  @SessionX.MarkStudentAttendense</strong>

                        </div>
                        <div class="card-block">
                            <table class="table table-hover table-outline mb-0">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Student Name</th>
                                        @for (int i = 0; i < Model.session_actual_time.Count; i++)
                                        {
                                            bool IsActive = Model.session_actual_time.ElementAt(i).IsActive;
                                            DateTime currentDay = startDay.AddDays(i);
                                            if (IsActive)
                                            {
                                                TimeSpan timespanStart = Model.session_actual_time.ElementAt(i).ActualStartTime.Value;
                                                TimeSpan timespanEnd = Model.session_actual_time.ElementAt(i).ActualEndTime.Value;
                                                string startTime = DateTime.Today.Add(timespanStart).ToString("hh:mm tt");
                                                string endTime = DateTime.Today.Add(timespanEnd).ToString("hh:mm tt");
                                                <th>@(currentDay.ToString("dd MMM") + " (" + startTime + " - " + endTime + " )")</th>
                                            }
                                        }
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model.session_participant)
                                    {
                                        <tr>
                                            <td>@(item.participant_profile.Name + " " + item.participant_profile.FatherName + " " + item.participant_profile.Family)</td>
                                            @for (int i = 0; i < Model.session_actual_time.Count; i++)
                                            {
                                                bool IsActive = Model.session_actual_time.ElementAt(i).IsActive;
                                                int id = Model.session_actual_time.ElementAt(i).Id;
                                                if (IsActive)
                                                {
                                                    <td><input type="checkbox" name="@(item.ParticipantID +"-" +id)" /></td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        @Html.HiddenFor(x=>x.RowGUID)
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary pull-right" name="SubmitButton" value="approved"><i class="fa fa-dot-circle-o"></i> @SessionX.Submit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>