@model TranningWebApp.Models.GeneralReportModel
@using TranningWebApp.Resource

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var chart;
        var datalist = [];
    function DownloadReport() {
        var fileHex = chart.getImageURI();
        if (fileHex.length == 0)
            return;

        var datefrom = $("#DateFrom").val();
        var dateto = $("#DateTo").val();
        var prefix = '%%{ @Reports.SessionParticipantsChart }{  @Reports.DateFrom : ' + datefrom + '   @Reports.DateTo  ' +  dateto + '}{ ' + datalist.join(';').replace(/,/g, ": ") + ' }%%';
        $.ajax({
            type: 'POST',
            url: '/Report/GeneratePdf',
            data: { 'graphString': prefix + fileHex },

            success: function (pdfPath) {
                window.location = '/Report/DownloadPdf?filePath=' + pdfPath;
            }
        });

    }
        function GenerateReport()
        {
            var datefrom = $("#DateFrom").val();
            var dateto = $("#DateTo").val();

           

            $.post("@Url.Action("GetSessionParticipantData", "Report")",
                {
                    datefrom: datefrom,
                    dateto: dateto,

                },
                function (data, status) {
                    if (data.length == 0) {
                        document.getElementById("School_Reports").innerHTML = "@Reports.NoDataFound";
                        return;
                    }
                     
                
                    datalist.push(['@Reports.SessionName', '@Reports.Participants']);
                    for (i = 0; i < data.length; i++) {
                        var datatodispaly = [];
                        datatodispaly.push(data[i].ProgramName);
                        datatodispaly.push(data[i].Count);
                        datalist.push(datatodispaly)
                    }

                    makeTable("table", datalist);

                    google.charts.load('current', { packages: ['corechart', 'bar'] });
                    google.charts.setOnLoadCallback(drawBasic);

                    function drawBasic() {

                        var data = google.visualization.arrayToDataTable(datalist);

                        var options = {
                            title: "",
                            width: 800,
                            height: 500,
                            bar: { groupWidth: "40%" },
                            legend: { position: 'none' }
                        };


                        chart = new google.visualization.BarChart(document.getElementById('School_Reports'));
                        chart.draw(data, options);

                    }
                });
        }


       
    </script>


<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@General.Home</li>
        <li class="breadcrumb-item active">@Reports.Reports1</li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div>

                <div class="card">
                    <div class="card-header">
                        <strong class="text-primary">@Reports.Reports1</strong>
                    </div>
                    <div class="card-block">
                        <div class="form-group">

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label style="width: 100%">@Reports.DateFrom</label>
                                    <input type="text" id="DateFrom" class="form-control date">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label style="width: 100%">@Reports.DateTo</label>
                                    <input type="text" id="DateTo" class="form-control date">
                                </div>
                            </div>
                    
                            <br>
                            <div class="card-footer">
                                <br>
                                <button type="button" class="btn btn-sm btn-primary pull-right" style="margin-left:8px" name="DownloadPDF"  onclick="DownloadReport()"  value=""><i class="fa fa-check-square-o"></i> @Reports.DownloadPDF </button>
                                <button type="submit" class="btn btn-sm btn-primary pull-right" name="SubmitButton" value="" onclick="GenerateReport()"><i class="fa fa-check-square-o"></i> @Reports.GenerateReport </button>
                            </div>

                            <br>
                            <hr>
                             <h3><u>@Reports.SessionParticipants</u></h3>
                            <br>
                            <div id="table">

                            </div>
                            <hr>

                            <div style="color:red;"  id="School_Reports"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
