
@model TmsWebApp.Models.EmailTemplateModel

<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <h2 style='text-align:center'> تسجيل المرشد الطلابي</h2>
    <br />عزيزي/تي<b> @Model.CoordinatorName</b>
    <br />
    <br />
    نشكر لكم أهتمامكم ودعمكم للطلاب وتسليحهم بمهارات القرن 21 ورفع جاهزيتهم لسوق العمل ورفع الوعي بالثقافة المالية والألمام بعالم ريادة الأعمال ومشاركتنا رسالتنا في تمكين الشباب السعودي من مستقبل أقتصادي أفضل .
    <br />
    <br />
    الرجاء استكمال نموذج التسجيل حسب التعليمات التاليه .
    <br />
    <ol>
        <li> تنزيل المستندات المرفقه</li>
        <li> استكمال البيانات   و تحديث المعلومات في المستندات</li>
        <li> تحميل المستندات على الرابط بالاسفل : <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>.</li>
    </ol>
    <br />
    <br />
    شاكرين ومقدرين لكم تعاونكم
    @*<br />
        @Model.User*@
    <br />
    إنجاز السعودية
    <br />
    <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>
</div>
