
@model TmsWebApp.Models.EmailTemplateModel


<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />عزيزي/تي  المرشد/ ه<b> @Model.CoordinatorName</b>
    <br />
    <br />
    لقد تم تفعيل حسابكم بنجاح <br />
    وتستطعيون الأن الدخول إلى بوابة إنجاز من خلال الرابط التالي واستخدام بياناتكم  <br />
    <br />
    <br />
    الرابط  : <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>
    <br />
    اسم المستخدم : <b>@Model.UserName</b>
    <br />
    كلمة المرور : <b>@Model.Password</b>
    <br />
    <br />
    إنجاز السعودية
    <br />
    <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>

</div>