
@model TmsWebApp.Models.EmailTemplateModel
@{
    string appUrl = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div>
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />Dear<b> @Model.VolunteerName</b>
    <br />
    <br />
    This is to inform you that coordinator <b>@Model.CoordinatorName</b> has been finished a session with title <b>@Model.SessionTitle</b>
    @if (Model.User != "admin")
    {
       <p>Please enter to do final evaluation to issue the certificate</p>
    }
    else
    {
        <p>Number of Students : @Model.NumberOfStudents</p>
    }
    <br />
    <br />
    <br />
    Regards
    <br />
    Administrator
    <br />
    Injaz Tranning Management System
    <br />
    <a href="@appUrl">@appUrl</a>
</div>