
@model TmsWebApp.Models.EmailTemplateModel
@{
    string appUrl = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <br /> نص الرسالة : عزيزي /عزيزتي <b> @Model.VolunteerName</b>
    <br />
    <br />
    شكرا على الموافقة لعمل لقاء تدريبي في تاريخ
    @Model.OTDate
    <br />
    منطقة : @Model.Region
    <br />
    مدينة  : @Model.City
    <br />
    اسم المسؤل  : @Model.ContactPersonName
    <br />
    رقم الجوال   : @Model.ContactPersonPhone
    <br />
    نشكر لكم رغبتكم في التطوع مع إنجاز السعودية ومشاركتنا رسالة تمكين الشباب السعودي من مستقبل أقتصادي أفضل .
    <br />
    إنجاز السعودية
    <br />
    <a href="@appUrl">@appUrl</a>
</div>