
@model TmsWebApp.Models.EmailTemplateModel

<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />عزيزي/ تي الطالب/ه :<b> @Model.ParticipantName</b>
    <br />
    <br />
    لقد تم تسجيلكم في بوابة إنجاز الألكتروني
    <br />
    نأمل منكم الدخول على الرابط التالي :  <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>
    <br />
    واستخدام المعلومات التالية للدخول على حسابكم في البوابة
    <br />
    <br />

    <br />
    اسم المستخدم : <b>@Model.UserName</b>
    <br />
    كلمة المرور :<b>@Model.Password</b>
    <br />
    <br />
    مع تحيات
    <br />
    إنجاز السعودية
    <br />
    <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>

</div>
