
@model TmsWebApp.Models.EmailTemplateModel

<div>
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />Dear<b> @Model.UserName</b>
    <br />
    <br />
    your password has been reset successfully, Please find your new password information below. 
     <br />
    User Name: @Model.UserName
    <br /> 
    User Password: @Model.Password
    <br />
    <br /> 
    Regards
    <br />
    Administrator
    <br />
    @Model.User
    <br />
    Injaz Tranning Management System
    <br />
     
    <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>
</div>