
@model TmsWebApp.Models.EmailTemplateModel
@{
    string appUrl = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<div>
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />Dear<b> @Model.UserName</b>
    <br />
    <br />
    This is to inform you that your profile has been completed its data and waiting for approval.
    <br />
    <br />
    Regards
    <br />
    Administrator
    <br />
    @Model.UserName
    <br />
    Injaz Tranning Management System
    <br />
    <a href="@appUrl">@appUrl</a>
</div>