@model TmsWebApp.Models.EmailTemplateModel
@{
    string appUrl = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}



<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />عزيزي/تي  المرشد/ ه <b> @Model.CoordinatorName</b>
    <br />
    <br />
    نفيدكم بأنه تم إنشاء جلسة تدريبية للطلاب على برنامج <b>@Model.SessionTitle</b>
    <br />
    نأمل منكم الدخول على حسابكم في بوابة إنجاز للموافقة على الجلسة التدريبة
    <br />
    <br />
    إنجاز السعودية
    <br />
    <a href="@appUrl">@appUrl</a>
</div>