
@model TmsWebApp.Models.EmailTemplateModel
@{
    string appUrl = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <h2 style='text-align:center'> تسجيل المتطوع</h2>
    <br /> نص الرسالة : عزيزي /عزيزتي <b> @Model.VolunteerName</b>
    <br />
    <br />
    نشكر لكم رغبتكم في التطوع مع إنجاز السعودية ومشاركتنا رسالة تمكين
    <br />
    الشباب السعودي من مستقبل أقتصادي أفضل .
    <br />
    <br />
    نامل منكم الدخول إلى بوابة إنجاز من خلال الرابط التالي
    <br />

    اسم المستخدم : <b>@Model.UserName</b>
    <br />
    كلمة المرور : <b>@Model.Password</b>
    <br />
    <br />
    إنجاز السعودية
    <br />
    <a href="@appUrl">@appUrl</a>
</div>