@using TranningWebApp.Common
@using TranningWebApp.Resource
@{
    string lan = "en";
    if (Request.Cookies["lan"] != null && Request.Cookies["lan"].Value == "ar")
    {
        lan = "ar";

    }

    var cu = Session["user"] as ContextUser;
    string photoPath = cu?.PhotoPath?.Replace("~","") ?? "/img/avatars/admin.png";

}

<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
    <a class="navbar-brand" href="#"></a>

    <ul class="nav navbar-nav ml-auto px-3">
        <!-- <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
        </li> -->
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-language"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                
                <a class="dropdown-item  @(lan == "en" ? "hover" : "") " href="@Url.Action("ChangeLanguage", "Home", new { lan = "en" })">English</a>
                <a class="dropdown-item  @(lan == "ar" ? "hover" : "") " href="@Url.Action("ChangeLanguage", "Home", new { lan = "ar"})">العربیہ</a>
            </div>
        </li>
        @if (cu != null)
        {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="@photoPath" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="d-md-down-none">@User.Identity.Name</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="@Url.Action("ChanngeProfile", "Home")"><i class="fa fa-user"></i> @General.Profile</a>
                <div class="divider"></div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                @Html.AntiForgeryToken()
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lock"></i> @General.Logout</a>
                }
            </div>
        </li>
        }
    </ul>
</header>
