@using TranningWebApp.Resource
@model TranningWebApp.Repository.DataAccess.orientation_training
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" />
<main class="main">
    <script type="text/javascript">
        $(document).ready(function () {
            bindTimePicker();
        })
        function checkchangeSchool(obj) {
            var allCheckBoxs = $(".schoolcheck");
            debugger;
            if ($(obj).is(":checked"))
                allCheckBoxs.prop("checked", true);
            else
                allCheckBoxs.prop("checked", false); 
        }
        function checkchangeVolunteer(obj) {
            var allCheckBoxs = $(".volcheck");
            
            if ($(obj).is(":checked"))
                allCheckBoxs.prop("checked", true);
            else
                allCheckBoxs.prop("checked", false);
            
        }
        function getFilterSchoolAndVolunteer() {
            var city = $("#City").val();
            var gender = $("#Gender").val();
          

            $.get("/OT/GetSchoolsVolunteerByFilter?city=" + city + "&gender=" + gender, function (res) {
                debugger;
                
                $(".voldiv").html(''); 
                $.each(res.volunteers, function (index, item) {
                    $(".voldiv").append("<input id='Volunteers_" + index + "__Value' name='Volunteers[" + index + "].Value' type='hidden' value='" + item.Value + "'>");
                    $(".voldiv").append("<div class='col-sm-3'><input class='volcheck' data-val='true' data-val-required='The Selected field is required.' id='Volunteers_" + index + "__Selected' name='Volunteers[" + index + "].Selected' type='checkbox' value='true'><input name='Volunteers[" + index + "].Selected' type='hidden' value='false'><span style='margin-left:5px'>" + item.Text + "</span></div>");
                });

                $(".schooldiv").html(''); 
                $.each(res.schools, function (index, item) {
                    $(".schooldiv").append("<input id='Schools_" + index + "__Value' name='Schools[" + index + "].Value' type='hidden' value='" + item.Value + "'>");
                    $(".schooldiv").append("<div class='col-sm-3'><input class='schoolcheck' data-val='true' data-val-required='The Selected field is required.' id='Schools_" + index + "__Selected' name='Schools[" + index + "].Selected' type='checkbox' value='true'><input name='Schools[" + index + "].Selected' type='hidden' value='false'><span style='margin-left:5px'>" + item.Text + "</span></div>");
                });


            })
        }
        function getFilterCities() {
            var region = $("#Region").val();

            $.get("/Volunteer/GetFilterCities?region=" + region, function (res) {
                debugger;
                $("#City option").remove();
                $.each(res, function (index, item) {
                    $("#City").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $("#City").trigger('change');
            })

           
        }
    </script>
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@General.Home</li>
        <li class="breadcrumb-item">@Menu.OTs</li>
        </li>
        @if (Model.Id > 0)
        {
            <li class="breadcrumb-item active"> @General.Edit @Menu.OTs</li>
        }
        else
        {
            <li class="breadcrumb-item active"> @OT.AddnewOT</li>
        }

    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="col-sm-6">
                @using (Html.BeginForm("Edit", "OT", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="card">
                        <div class="card-header">
                            @if (Model.Id > 0)
                            {
                                <strong class="text-primary"><i class="icon-plus"></i> @General.Edit @Menu.OTs</strong>
                            }
                            else
                            {
                                <strong class="text-primary"><i class="icon-plus"></i> @OT.AddnewOT</strong>
                            }
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="name">@OT.ProgrammName</label>
                                    @Html.DropDownListFor(m => m.Subject, new List<SelectListItem>
                                        {
new SelectListItem { Selected = true, Text = @OT.PersonalLifePlanning, Value =  "PFP"},
new SelectListItem { Selected = false, Text = @OT.FriendOfEarth, Value =  "FOE"},
new SelectListItem { Selected = false, Text = @OT.LeadershipProgram, Value =  "LP"},
new SelectListItem { Selected = false, Text = @OT.ItsMyBusiness, Value =  "IMB"},
new SelectListItem { Selected = false, Text = @OT.SuccessSkils, Value =  "SS"},
new SelectListItem { Selected = false, Text = @OT.PersonalFinance, Value =  "PF"},
new SelectListItem { Selected = false, Text = @OT.CompanyProgram, Value =  "CP"},
new SelectListItem { Selected = false, Text = @OT.PersonalEconomic, Value =  "PE"},
new SelectListItem { Selected = false, Text = @OT.SteerYourCarrer, Value =  "SYC"}
                                           
                                         }, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="mobile">@Coordinator.Region</label>
                                    @Html.DropDownListFor(m => m.Region, (List<SelectListItem>)ViewBag.distictdd, new { @class = "form-control" ,@onchange= "getFilterCities()" })
                                    @Html.ValidationMessageFor(m => m.Region, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="country">@Coordinator.City</label>
                                    @Html.DropDownListFor(m => m.City, (List<SelectListItem>)ViewBag.citiesdd, new { @class = "form-control", onchange = "getFilterSchoolAndVolunteer()" })

                                </div>
                                <div class="form-group col-sm-6">
                                    <label>@Volunteer.Gender</label>
                                    @Html.DropDownListFor(m => m.Gender, (List<SelectListItem>)ViewBag.genderdd, new { @class = "form-control", onchange = "getFilterSchoolAndVolunteer()" })
                                    @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">@OT.MapLocation</label>
                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group" style="margin-bottom:0px">
                                <div>
                                    <input type="checkbox" style="margin-top:2px" onchange="checkchangeVolunteer(this)" />
                                    <label for="name">@OT.VolunteerList</label>
                                </div>
                            </div>
                            <div class="form-group row sessionTime voldiv" style="margin-left:0px; min-height:100px">
                                @for (int i = 0; i < Model.Volunteers.Count; i++)
                                {
                                    @Html.HiddenFor(it => Model.Volunteers[i].Value)
                                <div class="col-sm-3">
                                   @Html.CheckBoxFor(it => it.Volunteers[i].Selected,new {@class="volcheck" })
                                    <span>@Model.Volunteers[i].Text</span>
                                </div>
                                }
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label style="width: 100%">@OT.StartDate</label>
                                    <label style="font-style: italic">@Coordinator.Gorgian</label>
                                    @Html.TextBoxFor(m => m.OTDateTime, "{0:dd/MM/yyyy}", new { @class = "form-control date startDate" })
                                    @Html.ValidationMessageFor(m => m.OTDateTime, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group col-sm-6" style="margin-top:0.5%">
                                    <label style="width: 100%"></label>
                                    <label style="font-style: italic">@OT.Hijri</label>
                                    @Html.TextBoxFor(m => m.OtDateIslamic, new { @class = "form-control date-islamic startDateIslamic" })
                                </div>
                            </div>



                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label style="width: 100%">@OT.EndDate</label>
                                    <label style="font-style: italic">@Coordinator.Gorgian</label>
                                    @Html.TextBoxFor(m => m.OTDateEnd, "{0:dd/MM/yyyy}", new { @class = "form-control date enddate" })
                                    @Html.ValidationMessageFor(m => m.OTDateEnd, "", new { @class = "text-danger" })


                                </div>
                                <div class="form-group col-sm-6" style="margin-top:0.5%">
                                    <label style="width: 100%"></label>
                                    <label style="font-style: italic">@OT.Hijri</label>
                                    @Html.TextBoxFor(m => m.OtDateIslamicEnd, new { @class = "form-control date-islamic enddateIslamic" })
                                </div>
                            </div>
                            @Html.Partial("_OTTime", Model, new ViewDataDictionary { { "type", "pro" }, { "addtionalclass", "" } })


                            <div class="form-group">
                                <label for="mobile">@OT.ContactPersonName</label>
                                @Html.TextBoxFor(m => m.ContactPersonName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ContactPersonName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="mobile">@OT.ContactPersonPhone</label>
                                @Html.TextBoxFor(m => m.ContactPersonPhone, new { @class = "form-control phone", @maxlength = 10 })
                                @Html.ValidationMessageFor(m => m.ContactPersonPhone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group" style="margin-bottom:0px">
                                <div>
                                    <input type="checkbox" style="margin-top:2px" onchange="checkchangeSchool(this)" />
                                    <label for="name">@OT.SchoolList</label>
                                </div>
                            </div>
                            <div class="form-group row sessionTime schooldiv" style="margin-left:0px; min-height:100px">
                                @for (int i = 0; i < Model.Schools.Count; i++)
                                {
                                    @Html.HiddenFor(it => Model.Schools[i].Value)
                                    <div class="col-sm-3">
                                        @Html.CheckBoxFor(it => it.Schools[i].Selected, new { @class = "schoolcheck" })
                                        <span>@Model.Schools[i].Text</span>
                                    </div>
                                }
                            </div>

                            @if (Model != null && Model.Id > 0)
                            {
                                <input type="hidden" id="Id" name="Id" value="@Model.Id" />


                            }
                        </div>             <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-dot-circle-o"></i> @General.Submit</button>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</main>
