@using TranningWebApp.Resource
@model PagedList.IPagedList<TranningWebApp.Repository.DataAccess.orientation_training>

@{
    ViewBag.Title = "Layout";
}
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@General.Home</li>
        </li>
        <li class="breadcrumb-item active">@OT.OrientationTraining</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="@Url.Action("Edit")"><i class="icon-plus"></i> @OT.AddnewOT</a>
            </div>
        </li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="input-group global-search">
                    <input type="text" name="global-search" class="form-control" id="search"placeholder="@General.Search" value="@ViewBag.searchQuery">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <table class="table table-hover table-outline mb-0">
                    <thead class="thead-default">
                        <tr>
                            <th class="text-center">
                                <i class="icon-people"></i>
                            </th>
                            <th>@OT.Subject <i class="fa fa-sort"></i></th>
                            
                            <th>@OT.OTDate</th>
                            <th>@Volunteer.City</th>
                            <th>@Volunteer.Gender</th>
                            <th>@OT.ContactPerson</th>
                            <th>@OT.ContactPersonMobile</th>
                            <th>Number Of attendene</th>
                            <th>OT Status</th>
                            <th>Status</th>
                            <th>@General.EditDetails</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Count > 0 ) {
                            foreach (var item in Model.ToList())
                            {
                            <tr>
                                <td class="text-center">
                                    <div class="avatar">
                                        <img src="~/img/avatars/ot.png" class="img-avatar">
                                    </div>
                                </td>
                                <td>
                                    <div>@item.Subject</div>
                                </td>
                                @*@{ 
                                    Uri uriResult;
                                    bool result = Uri.TryCreate(item.Location, UriKind.Absolute, out uriResult)
                                        && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);
                                    string segment = "";
                                    if (result)
                                    {
                                        segment = uriResult.Segments[3].Replace("+"," ").Replace("/","");
                                    }
                                }
                                @if (result)
                                {
                                    <td><a href="@item.Location" target="_blank">@segment</a> </td>
                                }
                                else
                                {
                                <td>@item.Location</td>
                                }*@
                                <td>@item.OTDateTime.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.City</td>
                                <td>@item.Gender</td>
                                <td>@item.ContactPersonName</td>
                                <td>@item.ContactPersonPhone</td>
                                <td>@item.NumberOfAttendene</td>
                                @if (item.IsOTOccured)
                                {
                                <td>Occured</td>
                                }
                                else
                                {
                                    <td>Not Occured</td>
                                }
                                @if (item.IsActive)
                                {
                                    <td><span class="badge badge-success">@General.Active</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-default">@General.InActive</span></td>

                                }
                                <td><a href="@Url.Action("Edit",new {id = item.RowGuid })" title="Edit"><i class="fa fa-pencil"></i></a> <a href="#" onclick="onArchiveClick('@Model.PageNumber','@item.RowGuid')" title="Archive"><i class="fa fa-archive"></i></a></td>
                            </tr>
                        }
                        }
                        else
                        {
                        <tr>
                            <td colspan="9" align="center"> @General.Norecordfound</td>
                        </tr>
                        }
                    </tbody>
                </table>
                @Html.Partial("_Pagination", new TmsWebApp.Models.PageViewModel { CurrentPage = Model.PageNumber, TotalRecords = (int)ViewBag.Count })
            </div>
        </div>
    </div>
</main>
